@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Lato, "Noto Sans JP", メイリオ, Meiryo, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/*iOS対策*/
body{
  -webkit-text-size-adjust:100%;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
input[type="number"]{
  margin:0px;
  padding:0px;
}
input[type="button"]{
  margin:0px;
}
/*iOS対策 ここまで*/

/* 汎用スタイル */
.inlineCode {
  padding: 2px 4px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0px 2px;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.blockCode{
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 3px;
}


/* ポーラ選挙活動 */
/*
body { 
  background-image: url(src/paula_campaign2.png);
  background-repeat:no-repeat;
  background-position: right bottom;
  background-attachment:fixed;
}*/
