.mainbody {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-size: 12px;
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    background-color: #efefef;
    /* background-color: Yellow; */
}

.Layout_Header {
    float: left;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    /* background-color: Yellow; */
}

.Layout_Mainblock {
    float: left;
    max-width: 70%;
    /* min-height: 100px; */
    /* background-color: greenyellow; */
}

.Layout_Sideblock {
    float: right;
    max-width: 30%;
    /* min-height: 100px; */
    /* background-color: cadetblue; */
}

.Layout_Bottom {
    float: left;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    /* background-color: Red; */
    padding: 0px 0px 0px 10px;
}

.Layout_Header .title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 100px;
    margin: auto auto auto 20px;
}


/* .Layout_Iconarea { */

.iconbox {
    float: left;
    border: 6px solid #c0e0ff;
    border-radius: 4px;
    /* background-color: white; */
    padding: 10px 5px 5px 5px;
}

.iconbox .hr {
    font-size: 120%;
    font-weight: bold;
    margin: 6px 10px 6px 10px;
    border-radius: 2px;
    padding: 1px 0px 1px 7px;
    background: #a0c0ff;
    color: #333;
}

.iconbox .icon {
    margin: 2px 5px 0px 5px;
}


/* Layout_Sideblock */

.sidebox {
    float: left;
    max-width: 100%;
    padding: 3px 5px 5px 7px;
}

.sidebox a {
    color: #3878ec;
}

.sidebox #_sharebox {
    width: 270px;
    height: 120px;
    max-width: 270px;
    min-height: 20px;
}

.sidebox .filterbox {
    border-left: 2px #3898ec solid;
    border-top: 2px #3898ec solid;
    border-top-left-radius: 6px;
    margin: 2px 0px 5px 0px;
    padding: 1px 0px 1px 2px;
}

.sidebox input[type="button"] {
    cursor: pointer;
    height: 26px;
    color: #fff;
    background-color: #3898ec;
    border: 2px #3898ec solid;
    border-radius: 7px;
    margin: 1px 0px 1px 0px;
    padding: 1px 6px 1px 6px;
}

.sidebox input[type="button"]:hover {
    color: #3898ec;
    background-color: #fff;
}

.sidebox input[type="checkbox"] {
    display: none;
}

.sidebox input[type="checkbox"]+label span {
    display: inline-block;
    cursor: pointer;
    height: 17px;
    border-radius: 7px;
    margin: 1px 0px 1px 0px;
    padding: 1px 6px 1px 6px;
    color: #fff;
    background-color: #3898ec;
    text-decoration: line-through;
}

.sidebox input[type="checkbox"]+label span {
    border: 2px #ec4438 solid;
    background-color: #3898ec;
}

.sidebox input[type="checkbox"]:checked+label span {
    border: 2px #3898ec solid;
    text-decoration: none;
}

.sidebox input[type="checkbox"]+label span:hover {
    color: #000000;
    background-color: #fff;
}

.Layout_Bottom a {
    color: #3878ec;
}