/* https://www.w3schools.com/css/trycss_website_layout_blog.htm */

* {
    box-sizing: border-box;
}

body {
    /* font-family: Arial; */
    padding: 5px;
    /* background: #f1f1f1; */
    background: #c0e0ff;
    font-size: 12px;
    font-family: "-apple-system", "BlinkMacSystemFont", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", "Osaka", "sans-serif";
}

/* Header/Blog Title */

.header {
    padding: 15px;
    text-align: left;
    background: white;
}

/*header-title*/

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */

.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 10px;
}

/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.card .hr {
    font-size: 120%;
    font-weight: bold;
    margin: 6px 8px 6px 8px;
    padding: 2px 3px 4px 7px;
    border-radius: 2px;
    background: #a0c0ff;
    position: relative;
}

/*secelt*/

.card .hr select {
    margin-top: 6px;
}

/*input box*/

.card .hr .inputbox {
    /* float: right; */
    /* text-align: right; */
    margin-top: 4px;
    margin-right: 4px;
}

/* check box  */

.card .hr input[type="checkbox"] {
    display: none;
}

.card .hr input[type="checkbox"]+label {
    user-select: none;
    cursor: pointer;
    font-size: smaller;
    font-weight: 100;
    border-radius: 5px;
    margin: 1px 6px 0px 6px;
    padding: 0px 5px 0px 5px;
    position: absolute;
    right: 150px;
}

.card .hr input[type="checkbox"]+label {
    color: #000000;
    border: 1px #ec4438 solid;
    text-decoration: line-through;
}

.card .hr input[type="checkbox"]:checked+label {
    color: #000000;
    border: 1px #3898ec solid;
    text-decoration: none;
}

.card .hr input[type="checkbox"]+label:hover {
    color: #ffffff;
    background-color: #3898ec;
}

/* button */

.card input[type="button"] {
    cursor: pointer;
    height: 26px;
    color: #fff;
    background-color: #3898ec;
    border: 2px #3898ec solid;
    border-radius: 7px;
    margin: 1px 0px 1px 0px;
    padding: 1px 6px 1px 6px;
}

.card input[type="button"]:hover {
    color: #3898ec;
    background-color: #fff;
}

.card input[type="file"] {
    cursor: pointer;
    height: 26px;
    color: #fff;
    background-color: #3898ec;
    border: 2px #3898ec solid;
    border-radius: 7px;
    margin: 1px 0px 1px 0px;
    padding: 1px 6px 1px 6px;
}

.card input[type="file"]:hover {
    color: #3898ec;
    background-color: #fff;
}

.card a {
    color: #3878ec;
}

.card #_sharebox {
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
}

#iconbox .iconbtn {
    user-select: none;
    width: 50px;
    height: 50px;
    margin: 2px 5px 0px 5px;
    opacity: 1.0;
}

#iconbox .iconbtn[alt="false"] {
    opacity: 0.4;
}

#iconbox .iconbtn:active {
    background-color: #00000000;
    border: 3px #ffffff00 solid;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */

.footer {
    padding: 10px;
    text-align: left;
    background: #ddd;
    margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .row>.leftcolumn, .row>.rightcolumn {
        width: 100%;
        padding: 0px;
    }
}