/* https://www.w3schools.com/css/trycss_website_layout_blog.htm */

* {
    box-sizing: border-box;
}

body {
    /* font-family: Arial; */
    padding: 5px;
    /* background: #f1f1f1; */
    width: 1330px;
    background: #c0e0ff;
    font-size: 12px;
    font-family: "-apple-system", "BlinkMacSystemFont", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", "Osaka", "sans-serif";
    /* background-color: #efefef; */
}

/* Header/Blog Title */

.header {
    padding: 15px;
    text-align: left;
    background: white;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
    float: left;
    /* width: 75%; */
    width: 980px;
}

/* Right column */

.rightcolumn {
    float: right;
    /* width: 25%; */
    width: 340px;
    padding-left: 10px;
}

/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.card .hr {
    font-size: 120%;
    font-weight: bold;
    margin: 6px 8px 6px 8px;
    padding: 7px 3px 9px 7px;
    border-radius: 2px;
    background: #a0c0ff;
}

.card .hr .inputbox {
    /* float: right; */
    /* text-align: right; */
    margin-right: 4px;
}

.card .hr select {
    margin-top: 1px;
}

.card #mapimg {
    /* background-color: rgba(255, 255, 255, 0.0); */
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    width: 960px;
    height: 640px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 10px 0px 0px 0px;
}

.card #mapimg[title="alpha"] {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(255, 255, 255, 1.0);
}

#mapimg .goal {
    background-size: cover;
    width: 109px;
    height: 80px;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

#mapimg .near {
    background-size: cover;
    width: 84px;
    height: 62px;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

#mapimg .afar {
    background-size: cover;
    width: 84px;
    height: 62px;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

#mapimg .icon {
    user-select: none;
    background-size: cover;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
}

#mapimg #range {
    border-radius: 1000em;
    background-color: rgba(0, 128, 0, 0.35);
    border: 30px solid rgba(255, 255, 0, 0.35);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
}

.card a {
    color: #3878ec;
}

#iconbox .iconbtn {
    user-select: none;
    width: 50px;
    height: 50px;
    margin: 2px 5px 0px 5px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */

.footer {
    padding: 10px;
    text-align: left;
    background: #ddd;
    margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 960px) {
    body {
        width: 990px;
    }
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}